/Blog Capstone Project Part 2
/Blog Capstone Project Part 3
/Blog Capstone Project Part 4
/Bootstrap Website
/Brand name generator
/Breakout
/Caesar  cipher
/Calculator
/Coffee & Wifi Project
/Coffee & Wifi Project(2)
/Coffee Machine
/Coffee Machine (OOP)
/College Major vs. Salary Analysis
/Computation with NumPy
/Cookie Clicker Bot
/Custom API
/Data Entry Bot
/Deaths Involving Police in the US
/Escape the maze
/Flash Card App
/Flask Authentication Website
/Flask-WTForms
/Flight Club
/Flight Deal Finder
/Functional Contact Form
/Google Dinosaur Game Bot
/Google Trends Analysis
/Guess the number
/GUI Quiz App
/Habit Tracking
/Handwashing Analysis
/Hangman
/Higher Lower Game
/House Prices Analysis
/HTML Website using CSS
/Image to Color List
/Image Watermarking Desktop App
/Instagram Follower Bot
/Internet Speed Twitter Complaint Bot
/ISS Overhead Notifier
/Linkedin Job Application Bot
/Miles to KM Converter
/Music Time Machine
/My Top 10 Movies Website
/Name Card Website
/Nato Alphabet Project
/Number Guess High or Low
/Password generator
/Password Manager
/Password Manager 2.0
/Percentage Calculator
/Pomodoro Timer
/Pong Game
/Programming Language Data Analysis
/Python Decorator
/Quiz Project
/Rain Notifier
/Rock Paper Scissor
/Seaborn Regression Plot
/Selenium Login Bot
/Snake game & Mail Merge
/Snake Game Part 1
/Snake Game Part 2
/Space Race Data
/Spanish Vocabulary
/Stock Trading News Alert
/Text to Morse Code Converter
/Text to Speech
/The Hirst Painting
/The secret auction program
/Tic Tac Toe
/Tinder Swiping Bot
/Tip calculator
/To Do Agenda App
/Treasure Island
/Turtle Crossing
/Turtle Race
/Type Flow App
/Typing Speed Test App
/U.S. States Game
/Virtual Bookshelf
/Weather Report Sender
/Web Scraping
/Workout Tracking