/Instagram Follower Bot
/Internet Speed Twitter Complaint Bot
/ISS Overhead Notifier
/Linkedin Job Application Bot
/Miles to KM Converter
/Music Time Machine
/My Top 10 Movies Website
/Name Card Website
/Nato Alphabet Project
/Number Guess High or Low
/Password generator
/Password Manager
/Password Manager 2.0
/Percentage Calculator
/Pomodoro Timer
/Pong Game
/Programming Language Data Analysis
/Python Decorator
/Quiz Project
/Rain Notifier
/Rock Paper Scissor
/Seaborn Regression Plot
/Selenium Login Bot
/Snake game & Mail Merge
/Snake Game Part 1
/Snake Game Part 2
/Space Race Data
/Spanish Vocabulary
/Stock Trading News Alert
/Text to Morse Code Converter
/Text to Speech
/The Hirst Painting
/The secret auction program
/Tic Tac Toe
/Tinder Swiping Bot
/Tip calculator
/To Do Agenda App
/Treasure Island
/Turtle Crossing
/Turtle Race
/Type Flow App
/Typing Speed Test App
/U.S. States Game
/Virtual Bookshelf
/Weather Report Sender
/Web Scraping
/Workout Tracking